@use "../../styles/variables" as *;

.about {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about p {
  max-width: 40rem;
  width: 100%;
  opacity: 0.85;
  margin-bottom: 0.75rem;
  text-align: justify;
  box-sizing: border-box;
  word-break: break-word;
  hyphens: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .about p {
    max-width: 100%;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
